.registerContainer {
    display: flex;
    height: 100vh;
  }
  
  .formContainer {
    width: 40%;
    align-items: center;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  
  .formContainer h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 400;
  }
  
.left{
  width: 60%;
}
.para{
  position: absolute;
  top: 75%;
  color: gray;
  font-size: 14px;
}
  
.loginButton{
  width: 30%;
  border-radius: 20px;
  border: 1px solid #17A2B8;
  background-color: white; 
  color: #17A2B8;
  padding: 11px;
  position: absolute;
  top: 81%;
  font-size: 16px;
}